.fdb {
  color: white;
  cursor: default;
  display: block;
  top: 1em;
  left: 0;
  right: 0;
  /*leave 1em margins left/right*/
  width: calc(100% - 2em);
  margin: 0 auto;
  padding: 1em 2em;
  position: fixed;
  border-radius: 1.5em;
  text-align: center;

  /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7);*/

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-sizing: border-box;
}

.fdb-loading {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 7px;
  box-sizing: content-box;

  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);

  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.05,.44,0,.99);
  animation-timing-function: cubic-bezier(.05,.44,0,.99);
}
.fdb-unloading {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
  -webkit-animation-timing-function: cubic-bezier(.7,.08,.93,.49);
  animation-timing-function: cubic-bezier(.7,.08,.93,.49);
}

.fdb-message {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.fdb-animate {
  -webkit-animation-name: animateExpand;
  animation-name: animateExpand;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.37,.86,.58,.95);
  animation-timing-function: cubic-bezier(.37,.86,.58,.95);
}
.fdb-contract {
  -webkit-animation-name: animateContract;
  animation-name: animateContract;
}


/* Themes - Default - Pure */
.fdb-info { background-color: #0e90d2; }
.fdb-error { background-color: #dd514c; }
.fdb-success { background-color: #5eb95e; }
.fdb-warn { background-color: #f37b1d; }
.fdb-grimace { background-color: #8058a5; }
.fdb-neutral { background-color: #ffffff; }


.fdb-spinner {
  position: relative;
  text-indent: -9999em;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0e90d2;
  -webkit-animation: spinAnimation 0.6s infinite linear;
  animation: spinAnimation 0.6s infinite linear;

  box-sizing: border-box;
}
  .fdb-spinner,
  .fdb-spinner:after {
    border-radius: 50%;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
  }

@-webkit-keyframes spinAnimation {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spinAnimation {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


@-webkit-keyframes slideIn {
  0% { -webkit-transform: translate3d(0,-10em,0); }
  100% { -webkit-transform: translate3d(0,0,0);}
}
@keyframes slideIn {
  0% { -webkit-transform: translate3d(0,-10em,0); transform: translate3d(0,-10em,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}


@-webkit-keyframes slideOut {
  0% { -webkit-transform: translate3d(0,0,0);}
  100% { -webkit-transform: translate3d(0,-10em,0); }
}
@keyframes slideOut {
  0% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
  100% { -webkit-transform: translate3d(0,-10em,0); transform: translate3d(0,-10em,0); }
}


@-webkit-keyframes animateExpand {
  0% { width: 0; }
  100% { width: calc(100% - 2em); }
}
@keyframes animateExpand {
  0% { width: 0; }
  100% { width: calc(100% - 2em); }
}


@-webkit-keyframes animateContract {
  0% { width: calc(100% - 2em); opacity: 1; }
  100% { width: 50%; opacity: 0; }
}
@keyframes animateContract {
  0% { width: calc(100% - 2em); opacity: 1; }
  100% { width: 50%; opacity: 0; }
}
