/* System notifications */
.ngn {
  color: white;
  cursor: default;
  display: block;
  left: 0;
  /*leave 1em margins left/right*/
  width: calc(100% - 2em);
  margin: 0 auto;
  padding: 1em 2em;
  position: fixed;
  border-radius: 1.5em;
  right: 0;
  text-align: center;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-sizing: border-box;
}

.ngn-loading {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 10px;
  box-sizing: content-box;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7);

  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.05,.44,0,.99);
  animation-timing-function: cubic-bezier(.05,.44,0,.99);
}

.ngn-message {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.ngn-top {
  top: 1em;
}
.ngn-bottom {
  bottom: 0;
}

.ngn-animate {
  -webkit-animation-name: animateExpand;
  animation-name: animateExpand;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.37,.86,.58,.95);
  animation-timing-function: cubic-bezier(.37,.86,.58,.95);
}


/* Themes - Default - Pure */
.ngn-info { background-color: #0e90d2; }
.ngn-error { background-color: #dd514c; }
.ngn-success { background-color: #5eb95e; }
.ngn-warn { background-color: #f37b1d; }
.ngn-grimace { background-color: #8058a5; }

/* Themes - Prime */
.ngn-prime.ngn-info { background-color: #0033cc; }
.ngn-prime.ngn-error { background-color: red; }
.ngn-prime.ngn-success { background-color: #00cc00; }
.ngn-prime.ngn-warn { background-color: #ff9900; }
.ngn-prime.ngn-grimace { background-color: #660099; }

/* Themes - Pastel */
.ngn-pastel.ngn-info { background-color: #7ea7d8; }
.ngn-pastel.ngn-error { background-color: #f6989d; }
.ngn-pastel.ngn-success { background-color: #82ca9d; }
.ngn-pastel.ngn-warn { background-color: #fdc68a; }
.ngn-pastel.ngn-grimace { background-color: #a187be; }

/* Themes - Pitchy */
.ngn-pitchy.ngn-info { background-color: #003471; }
.ngn-pitchy.ngn-error { background-color: #9e0b0f; }
.ngn-pitchy.ngn-success { background-color: #007236; }
.ngn-pitchy.ngn-warn { background-color: #a36209; }
.ngn-pitchy.ngn-grimace { background-color: #440e62; }


.ngn-spinner {
  /*font-size: 14px;*/
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
  -webkit-animation: spinAnimation 0.6s infinite linear;
  animation: spinAnimation 0.6s infinite linear;
}
  .ngn-spinner,
  .ngn-spinner:after {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto;
  }

@-webkit-keyframes spinAnimation {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spinAnimation {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


@-webkit-keyframes slideIn {
  0% { -webkit-transform: translate3d(0,-10em,0); }
  100% { -webkit-transform: translate3d(0,0,0);}
}
@keyframes slideIn {
  0% { -webkit-transform: translate3d(0,-10em,0); transform: translate3d(0,-10em,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}


@-webkit-keyframes animateExpand {
  0% { width: 0; }
  100% { width: calc(100% - 2em); }
}
@keyframes animateExpand {
  0% { width: 0; }
  100% { width: calc(100% - 2em); }
}
