/* System notifications */
.ngn {
  color: white;
  cursor: default;
  display: block;
  font-size: 1.3em;
  left: 0;
  /*leave 1em margins left/right*/
  width: calc(100% - 2em);
  margin: 0 auto;
  padding: 1em 2em;
  position: fixed;
  border-radius: 1.5em;
  right: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  box-sizing: border-box;
}

@-webkit-keyframes animateExpand {
  /*0% { -webkit-transform: translate3d(-100%,0,0); }
  100% { -webkit-transform: translate3d(0,0,0);}
  0% { -webkit-transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1);}*/
  0% { width: 0; }
  100% { width: calc(100% - 2em); }
}

@keyframes animateExpand {
  /*0% { -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
  0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(1); transform: scaleX(1); }*/
  0% { width: 0; }
  100% { width: calc(100% - 2em); }
}

.ngn-message {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.ngn-top {
  top: 1em;
}
.ngn-bottom {
  bottom: 0;
}

.ngn-animate {
  -webkit-animation-name: animateExpand;
  animation-name: animateExpand;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.02,.19,.16,.86);
  animation-timing-function: cubic-bezier(.02,.19,.16,.86);
}

/*.ngn-dismiss {
  background-color: #333333;
  border-radius: 15px;
  box-shadow: inset 2px 2px 7px 2px black;
  color: #dddddd;
  cursor: pointer;
  display: none;
  font-size: 1.25em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  opacity: 0.2;
  position: absolute;
  right: 45px;
  text-shadow: 1px 1px 5px black;
  width: 30px;
}

.ngn-sticky .ngn-dismiss {
  display: block;
}

.ngn-dismiss:hover {
  background-color: black;
}

.ngn-dismiss:active {
  background-color: #666666;
}*/

/* Reduce notification size for mobile */
@media only screen and (max-width: 480px) {
  .ngn {
    font-size: 1em;
    padding: 12px 25px;
  }

  /*.ngn-dismiss {
    font-size: 1em;
    height: 20px;
    line-height: 20px;
    right: 5px;
    top: 5px;
    width: 20px;
  }*/
}

/* Themes - Default - Pure */
.ngn-info { background-color: #0e90d2; }
.ngn-error { background-color: #dd514c; }
.ngn-success { background-color: #5eb95e; }
.ngn-warn { background-color: #f37b1d; }
.ngn-grimace { background-color: #8058a5; }

/* Themes - Prime */
.ngn-prime.ngn-info { background-color: #0033cc; }
.ngn-prime.ngn-error { background-color: red; }
.ngn-prime.ngn-success { background-color: #00cc00; }
.ngn-prime.ngn-warn { background-color: #ff9900; }
.ngn-prime.ngn-grimace { background-color: #660099; }

/* Themes - Pastel */
.ngn-pastel.ngn-info { background-color: #7ea7d8; }
.ngn-pastel.ngn-error { background-color: #f6989d; }
.ngn-pastel.ngn-success { background-color: #82ca9d; }
.ngn-pastel.ngn-warn { background-color: #fdc68a; }
.ngn-pastel.ngn-grimace { background-color: #a187be; }

/* Themes - Pitchy */
.ngn-pitchy.ngn-info { background-color: #003471; }
.ngn-pitchy.ngn-error { background-color: #9e0b0f; }
.ngn-pitchy.ngn-success { background-color: #007236; }
.ngn-pitchy.ngn-warn { background-color: #a36209; }
.ngn-pitchy.ngn-grimace { background-color: #440e62; }

.b-loading {
  /*font-size: 14px;*/
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #fff;
  -webkit-animation: spinAnimation 0.6s infinite linear;
  animation: spinAnimation 0.6s infinite linear;
}

.ngn-loading {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 10px;
  box-sizing: content-box;

  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.05,.44,.14,1.34);
  animation-timing-function: cubic-bezier(.05,.44,.14,1.34);
}
  .b-loading,
  .b-loading:after {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto;
  }

  @-webkit-keyframes spinAnimation {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    }
    @keyframes spinAnimation {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  @-webkit-keyframes slideIn {
    0% { -webkit-transform: translate3d(0,-10em,0); }
    100% { -webkit-transform: translate3d(0,0,0);}
  }

  @keyframes slideIn {
    0% { -webkit-transform: translate3d(0,-10em,0); transform: translate3d(0,-10em,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
  }
