<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>feedback</title>

    <link href="images/favicon.ico" rel="shortcut icon">

    <!-- build:css demo.min.css -->
    <link href="demo.css" media="all" rel="stylesheet" type="text/css">
    <link href="../src/styles/feedback.css" rel="stylesheet" type="text/css">
    <!-- /build -->

</head>

<body ng-controller="MainCtrl">

    <div class="header">
        <h1>feedback</h1>
        <h2>A simple, lightweight module for displaying notifications and loaders in your AngularJS app.</h2>
        <h2>Forked and modified from <a href="https://github.com/matowens/ng-notify">ng-notify</a>, by matowens.</h2>
    </div>

    <div class="main">
        <h3>demo</h3>
        <ul>
            <li><a class="btn success" ng-class="theme" ng-click="notify('success')">success</a></li>
            <li><a class="btn info" ng-class="theme"  ng-click="notify('info')">info</a></li>
            <li><a class="btn warn" ng-class="theme"  ng-click="notify('warn')">warn</a></li>
            <br>
            <li><a class="btn error" ng-class="theme"  ng-click="notify('error')">error</a></li>
            <li><a class="btn grimace" ng-class="theme"  ng-click="notify('grimace')">grimace</a></li>
            <li><a class="btn default" ng-click="notify()">default, multiple lines</a></li>
        </ul>

        <ul>
            <li><a class="btn default" ng-class="theme" ng-click="setLoader()">set loader</a></li>
            <li><a class="btn default" ng-class="theme" ng-click="dismissNotify()">dismiss</a></li>
        </ul>

        <span class="spacer"></span>

        <h3>options</h3>
        <ul>
            <li>
                <label for="defaultType">default</label>
                <select ng-model="defaultType" id="defaultType" ng-options="value for value in defaultOptions" ng-change="setDefaultType()"></select>
            </li>
            <li>
                <label for="duration">duration</label>
                <select ng-model="duration" id="duration" ng-options="item.id as item.value for item in durationOptions" ng-change="setDefaultDuration()"></select>
            </li>
            <li>
                <label for="sticky">sticky<span class="new">new</span></label>
                <select ng-model="sticky" id="sticky" ng-options="value for value in stickyOptions" ng-change="setDefaultSticky()"></select>
            </li>
        </ul>
        <p>Alter an option and then click through the demo again.  Check out <a href="https://github.com/andreipfeiffer/feedback">the repo</a> for an example of how to set options for your project.</p>

        <div class="foot"></div>

    </div>

    <!-- build:js demo.min.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/scripts/feedback.js"></script>
    <script src="demo.js"></script>
    <!-- /build -->

</body>
</html>
