<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>feedback</title>

    <link href="images/favicon.ico" rel="shortcut icon">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    <!-- build:css demo.min.css -->
    <link href="demo.css" media="all" rel="stylesheet" type="text/css">
    <link href="../src/styles/feedback.css" rel="stylesheet" type="text/css">
    <!-- /build -->

</head>

<body ng-controller="MainCtrl">

    <div class="header">
        <h1>feedback</h1>
        <h2>A simple, lightweight module for displaying notifications and loaders <br>in your AngularJS app.</h2>
        <br>
        <h2>Forked and modified from <a href="https://github.com/matowens/ng-notify">ng-notify</a>, by matowens.</h2>
    </div>

    <div class="main">
        <h3>notifications</h3>
        <ul>
            <li><a class="btn success" ng-class="theme" ng-click="notify('success')">success</a></li>
            <li><a class="btn info" ng-class="theme"  ng-click="notify('info')">info</a></li>
            <li><a class="btn warn" ng-class="theme"  ng-click="notify('warn')">warn</a></li>
            <li><a class="btn error" ng-class="theme"  ng-click="notify('error')">error</a></li>
            <li><a class="btn grimace" ng-class="theme"  ng-click="notify('grimace')">grimace</a></li>
            <li><a class="btn default" ng-click="notify()">default</a></li>
        </ul>

        <br>
        <h3>loader</h3>
        <p class="text-muted">("dismiss" works for notifications, also)</p>
        <ul>
            <li><a class="btn default" ng-class="theme" ng-click="setLoader()">set loader</a></li>
            <li><a class="btn default" ng-class="theme" ng-click="dismiss()">dismiss</a></li>
            <!-- <li><a class="btn default" ng-class="theme" ng-click="loadAndDismiss()">load &amp; dismiss</a></li>
            <li><a class="btn default" ng-class="theme" ng-click="loadAndNotify()">load &amp; notify</a></li> -->
        </ul>

        <br>
        <h3>getters</h3>
        <p class="text-muted">Check the console for these ones (:</p>
        <ul>
            <li><a class="btn btn-small default" ng-class="theme" ng-click="isActive()">isActive?</a></li>
            <li><a class="btn btn-small default" ng-class="theme" ng-click="isLoading()">isLoading?</a></li>
            <li><a class="btn btn-small default" ng-class="theme" ng-click="isSticky()">isSticky?</a></li>
            <li><a class="btn btn-small default" ng-class="theme" ng-click="getType()">getType</a></li>
            <li><a class="btn btn-small default" ng-class="theme" ng-click="getMessage()">getMessage</a></li>
        </ul>

        <span class="spacer"></span>

        <h3>options</h3>
        <ul>
            <li>
                <label for="defaultType">type</label>
                <select ng-model="defaultType" id="defaultType" ng-options="value for value in defaultOptions" ng-change="setDefaultType()"></select>
            </li>
            <li>
                <label for="duration">duration</label>
                <select ng-model="duration" id="duration" ng-options="item.id as item.value for item in durationOptions" ng-change="setDefaultDuration()"></select>
            </li>
            <li>
                <label for="sticky">sticky<!-- <span class="new">new</span> --></label>
                <select ng-model="sticky" id="sticky" ng-options="value for value in stickyOptions" ng-change="setDefaultSticky()"></select>
            </li>
        </ul>
        <p class="text-muted">Alter the options, then try the demo again.</p>

        <span class="spacer"></span>

        <p>Check out <a href="https://github.com/andreipfeiffer/feedback">the GitHub repo</a> for details.</p>

    </div>

<a href="https://github.com/andreipfeiffer/feedback"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <!-- build:js demo.min.js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/scripts/feedback.js"></script>
    <script src="demo.js"></script>
    <!-- /build -->

</body>
</html>
